
<div class="restaurant-info">
  <h2 class="name">Name: {{restaurantName}}</h2>
  <div class="alias">alias: {{restaurantAlias}}</div>
  <div class="phone">Phone number: {{restaurantPhone}}</div>
  <div class="address">Address:
    <p class="tabbed">{{restaurantAddress}}</p>
    <p class="tabbed">{{restaurantCity}}</p>
    <p class="tabbed">{{restaurantZipCode}}</p>
  </div>
  <div class="the _id">{{restaurantId}}</div>
</div>