
<div class="restaurant-info">
  <h2 class="name">Name: {{restaurantName}}</h2>
  <div class="alias">alias: {{restaurantAlias}}</div>
  <div class="phone">Phone number: {{restaurantPhone}}</div>
  <div class="address">Address:
    <p class="tabbed">{{restaurantAddress}}</p>
    <p class="tabbed">{{restaurantCity}}</p>
    <p class="tabbed">{{restaurantZipCode}}</p>
  </div>
  <div class="the_id">{{restaurantId}}</div>
</div>

<div class="on-single-restaurant-page">
  <div class="tip-container">

  </div>

</div>









<section class="tip-business">



  <h2>Create a tip!</h2>

  <form action="/add-new-tip" method="POST" id="form-container">
    <div>
      <label for="item">Item they are out of</label>
      <input id="item" type="text" name="item" placeholder="French fries">  <input type="hidden" name="the_id" value={{restaurantId}}>
    </div>
    <br>

    {{#if message}}
      <br>
      <div class="error-message">{{ message }}</div>
    {{/if}}

    <br><br>

    <button>Add tip</button>

  </form>

  <h1>All tips</h1>

  {{#each tips}}
  <h3>{{this.item}}</h3>

  {{#if this.OWNER}}
  <p>you <b>------POSTED-----</b> this one</p>
  <form action="/delete-tip/{{this._id}}" method="POST">
    <button>Delete tip</button>
  </form>


  {{/if}}

  {{#unless this.OWNER}}
  <p>you did not post this one</p>
  {{/unless}}
  {{/each}}
</section>